 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Merriweather', serif;
    /* font-family: 'Lobster', cursive; */
    /* font-family: 'Berkshire Swash', cursive;
font-family: 'Lobster', cursive;
font-family: 'Merriweather', serif; */
}

.header{
    display: flex;
    justify-content: center;
    position: relative;
    background-color: #11161D;
    width: 100%;
    height: 120vh;
    font-family: 'Lobster', cursive;
}

.navbar{
    position: absolute;
    background: url(images/bg-2.jpg) ;
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    width: 600px;
    height: 100vh;
    margin-left: -700px;
    margin-top: 96px;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 10%), 0 4px 6px -2px rgb(0 0 0 / 5%);
    z-index: 9999;
   

}

.navbar__nav__list { 
   display: flex;
   justify-content: space-around;
   align-items: center;
    position: absolute;
   background-color: #11161D;
   width:100%;
   height: 50px;
   position: fixed;
   top: 0;
   left:0;
  z-index: 9999;
   box-shadow: 0 10px 15px -3px rgb(0 0 0 / 10%), 0 4px 6px -2px rgb(0 0 0 / 5%);
 
}

.navbar__list {
    list-style-type: none;
}

.navbar__list a{
position:relative;
    text-decoration: none;
    color: #fff;
    margin-left: 10px;
    font-size: 1.5rem;
    z-index: 2;
    padding:20px;
   

}

.navbar__list a:hover{
    color: #11161D;
   
}

.navbar__list a::before {
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    min-height: 30px;
    min-width: 50px;
    padding: 0 70px 30px 5px;
    border-radius: 20px;
    background-color: #EFE39F;
    z-index: -1;
    transition:all 0.5s ease-in;
	-webkit-transition:all 0.5s ease-in;
	-moz-transition:all 0.5s ease-in;
	-o-transition:all 0.5s ease-in;

}

.list a::before{
    left: 0;
    transform: scaleY(0);	
    }
    
    .list a:hover::before {
          transform: scaleY(1);
      }

.navbar__nav__para{
    position: absolute;
    display: flex;
    flex-direction: column;
    /* background-color: #11161D; */
    width: 500px;
    margin-left: 650px;
    margin-top: 100px;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 10%), 0 4px 6px -2px rgb(0 0 0 / 5%);
  
}

.navbar__para1{
    font-family: 'Berkshire Swash', cursive;
    font-size: 2rem;
    color: #EFE39F;
}

.navbar__para2{
    color: #EFE39F;
    margin-top: 10px; 
    font-size: 4rem;  
}


.navbar__para3{
    color: #fff;
    margin-top: 10px; 
    font-size: 1.5rem;   
}

.navbar__nav__image{
    position: relative;
   margin-left: 1000px;
   margin-top: -20px;
    height: 100%;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 10%), 0 4px 6px -2px rgb(0 0 0 / 5%);
 
}

.navbar__image{
    height: 19.3vh;
    width: 200px;
}

.navbar__items{
    width: 100%;
}


.navbar__nav__items{
   display: flex;
 
}

.navbar__btn{
    position: absolute;
    transform: translate(50%,50%);

}

.btn{
    position: relative;
    background: #fff;
    border: 1px solid #fff;
    min-height: 50px;
    min-width: 150px;
    font-family: 'Berkshire Swash', cursive;
    margin: 200px -800px 150px 700px;
    border-radius: 20px;
    font-size: 1.5rem;
    cursor: pointer;
    overflow: hidden;
    z-index: -1;
   
}

.btn:hover{
    color: #1173BE;
    border: #333;
    
}

.btn::before{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
   background: #333;
   content: '';
   z-index: -1;
   transition:all 0.5s ease-in;
   -webkit-transition:all 0.5s ease-in;
   -moz-transition:all 0.5s ease-in;
   -o-transition:all 0.5s ease-in;
   

}

.btn__1::before{
left: 0;
transform: scaleY(0);	
}

.btn__1:hover::before{
     transform: scaleY(1);
 }

.button__primary{
    position: absolute;
    background-color: transparent;
     margin: 550px 100px 400px 700px;
   border: 1px solid #EFE39F;
     width: 200px;
     height: 50px;
    padding: 0.5rem 1rem;
    text-align: center;
     font-size: 1.2rem;
     word-spacing: 1px;
     font-family: 'Berkshire Swash', cursive;
    color:#EFE39F;
    word-spacing: 4px;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    display: block; 
}

.button__primary:hover{
    color: #72FF72;
}

.container{
    background: url(images/bg-3.jpg) ;
   background-position: fixed; 
   background-repeat: no-repeat;
   background-size: cover;
   width: 100%;
   height: 50vh;
   position: relative; 

}

.container::before{
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(200,186,103,0.8) ;
    position: absolute;
}


.welcome__container{
    position: relative;
    justify-content: center;
    align-content: center;
    width: 100%;
}

.welcome__container__content{
    width: 100%;
}

.welcome__container__h1{
    position: relative;
    color: #11161D;
    top: 50px;
  margin-left: 600px;
    font-size: 3rem;
    font-family: 'Berkshire Swash', cursive;
}

.welcome__container__para{
    position: relative;
    color: #11161D;
    font-size: 1.2rem;
    margin-left: 200px;
    line-height: 23px;
    top: 100px;
    width: 75%;
}

.breakfast{
    background: url(images/bg-4.jpg);
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 100vh;
}

.breakfast::before{
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(17,22,29,0.9);
    position: absolute;
}

.breakfast__container{
    display: flex;
    justify-content: space-around;
    align-content: center;
    width: 100%;
}
.breakfast__container__breakfast{
position: relative;
background-color: #CDB090;
width: 400px;
height: 75vh;
margin-top: 100px;
box-shadow: 10px 20px 30px 20px #11161D;
}

.breakfast__container__image{
width: 100%;
}

.breakfast__image{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-left: 100px;
    margin-top: -80px;
}
.lunch{
    background-color: #6B7552;
}
.dinner{
    background-color: #6C4D38;
}

.breakfast__special{
    position: absolute;
    margin-left: 100px;
    margin-top: 30px;
    font-size: 1.8rem;
    color: #fff; 
    font-family: 'Lobster', cursive;
}

.breakfast__destiney{
    position: absolute;
    margin-left:25px;
    margin-top: 100px;
    font-size: 1rem;
    color:#fff;
    
    
}

.breakfast__happy{
    position: absolute;
    margin-left: 100px;
    margin-top: 180px;
    font-size: 1.5rem;
    color:#fff;
    font-family: 'Lobster', cursive;
    
}
.breakfast__primary{
    position: absolute;
    margin-left: 120px;
    margin-top: 250px;
    font-size: 1.5rem;
    color:#fff;
    font-family: 'Lobster', cursive;
    background-color: transparent;
    width: 200px;
    /* height: 30px; */
    padding: 15px;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 10px;
    cursor: pointer;
}

.breakfast__primary:hover{
color:#6C4D38;
background-color: #EFE39F;
}

.book__table{
    margin-left: 50px;
}

.book__your{
    margin-left: 100px;

    
}

.spaecial__all{
    margin-left: 50px;
}

/* restaurent */

.restaurent{
    display: inline-block;
    width: 100%;
    height: 70vh;
}

.restaurent__container{
    display: flex;
    justify-content: space-around;
   width: 100%; 
}

.container__image{
    width: 500px;
    height: 70vh;
}
.restaurent__conteiner__para{
    background-color: #6C4D38;
    width: 100%;
    color:#CDB090;
}

.restaurent__para,.restaurent__para2{
    position: absolute;
    width: 400px;
    line-height: 30px;
    margin-left: 70px;
    margin-top: 50px;
    font-size: 1.2rem;
 
}
.restaurent__para2{
    margin-top: 230px;
}

.restaurent__primary{
    position: absolute;
    margin-left: 100px;
    margin-top: 350px;
    padding: 10px 30px; 
    background: transparent;
    color:#CDB090;
    border: 1px solid  #fff;
    border-radius: 20px;
    font-size: 1.5rem;
    font-family: 'Lobster', cursive;
    cursor: pointer;
}

.restaurent__primary:hover{
color: #240803;
}

.discount__footer{
    background: url(images/bg-1.jpg);
    background-position: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 60vh;
    bottom: 10px;
    position: relative
}

.discount__footer::before{
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0,0,0,0.9);
}

.discount__footer__coupon{
    width:100%;

}

.footer__header{
    position: relative;
    top: 50px;
    color: #fff;
    margin-left: 600px;
    font-size: 45px;
    font-family: 'Lobster', cursive;
}

.footer__para{
    position: relative;
    top: 80px;
    color: #fff;
    margin-left: 300px;
    font-size: 1.5rem;  
}

.footer__input{
    position: relative;
    top: 150px;
    color: #fff;
    margin-left: 400px;
    font-size: 1rem; 
    background-color: #000;
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 3px;
    width: 400px;
    
}
.footer__button{
    position: relative;
    top: 150px;
    color: #fff;
    font-size: 1rem; 
    background-color: #000;
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 3px;
    margin-left: 50px;  
    cursor: pointer;
    width: 200px;
}

.footer__button:hover{
    background: linear-gradient( to right, red 0%,  #24dd71 51% #240803 100%);

}

.discount__footer__social{
    display: flex;
    justify-content: space-around;
    align-content: center;
    top: 180px;
    position: relative;
    cursor: pointer;
    color: #fff;
    font-family: 'Lobster', cursive;
    font-size: 1rem;

}


.footer__facebook:hover,.footer__twitter:hover,.footer__twitter:hover,.footer__copy:hover{
color:aqua;
background-color: #6C4D38;
/* margin-left: 60px; */
padding: 10px 30px;
}


@media(max-width: 1200px){

     .header{
    
        width: 100%;
        height: 90vh;
     }

     .navbar{
        /* display:flex;
        flex-wrap: wrap; */
        width: 500px;
        top: 10px;
        height: 70vh;
        

     }  

     .navbar__nav__list{
         
         width: 60%;
        height: 70px;
    } 

    .navbar__list a{
       display: flex;
       flex-wrap: wrap; 
     font-size: 1rem;
     margin-left: 10px;
    }

    .navbar__nav__para{
        margin-left: 510px;
    }

    .navbar__para1{
    font-size: 1rem;
    margin-top: -50px;
    }
    .navbar__para2{
    font-size: 2rem;
    }

    .navbar__para3{
        font-size: 1rem;
        margin-right: -150px;
    }
    .navbar__nav__image{
       
      margin-left: 700px;
      
    }
    .navbar__image{
        height: 14vh; 
        width: 200px; 
    }

    .btn{
        margin-left: 520px;
        margin-top: 100px;
    }

    .button__primary{
        margin-left: 520px;
        width: 150px;
        font-size: 1rem;
        height: 25px;
        padding-bottom: 30px;
        margin-top: 380px;
       
    }

    .welcome__container__h1{
        margin-left: 150px;
        font-size: 1.5rem;
    }

    .welcome__container__para{
        font-size: 0.8rem;
        margin-left: 50px;
    }

    
    .breakfast{
        width: 100%;
        height: 100%;
    }

    .breakfast__container{
        display: flex;
        flex-wrap: wrap;
        margin-left: 10px;
        
    }
    
    .breakfast__container__breakfast{
        width:300px;
        height: 50vh;
    }
    .breakfast__image{
        width: 150px;
        height: 150px;
        margin-left: 85px;
    }

    .breakfast__special{
        font-size: 1.2rem;
    }

    .breakfast__destiney{
        font-size: 0.7rem;
    }

    .breakfast__happy{
        font-size: 1rem;
    }

    .breakfast__primary{
        width: 130px;
        height: 10px;
        padding-bottom: 20px;
        font-size: 1rem;
        margin-top: 220px;
    }
    .restaurent__container{
      display: flex;
      flex-wrap: wrap; 
      width: 100%; 
      height: 100%;
    }

    .restaurent{
        width:100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;

        
    } 

    .container__image{
        display: flex;
        flex-wrap: wrap;
        width: 400px;
        height: 50vh;
        
    }

    .restaurent__conteiner__para{
    width: 400px;
    height: 60vh;
    
    }

    .restaurent__para,.restaurent__para2{
        font-size: 1rem;
        margin-left: 5px;
        width: 400px;
    }

    .restaurent__primary{
        margin-top: 350px;
        font-size: 1rem;
    }

    .discount__footer{
        width: 100%;
        height: 70vh;
    }

    .footer__header{
        font-size: 1.3rem;
        margin-left: 200px;
    }

    .footer__para{
        font-size: 1rem;
        margin-left: 50px;
    }

    .footer__input{
        width: 400px;
        margin: 30px 30px 50px 50px;
          
    }

    .discount__footer__social{
        display: flex;
        flex-wrap: wrap;
    }
}  